.logo {
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo img {
  width: 150px;
}
@media screen and (max-width: 900px) {
  .logo {
    grid-column-end: span 2;
  }
  .logo img {
    width: 100px;
  }
}
@media screen and (max-width: 500px) {

}
