@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

@import './components/styles/Variables.style';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', monospace;
  /* color: rgb(46, 46, 46); */
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container{
  max-width: 1340px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  align-items: center;
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}

@media screen and (max-width: 1200px){
  .container{
    padding: 5px;
  }
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(238, 238, 238);
  border: 3px solid rgb(201, 201, 201);
  border-radius: 3px;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff;
}
